# Options for openstreetmap-tiles-update-expire and osm_setup_db.sh scripts
OSM2PGSQL_RAM=4096
OSM2PGSQL_CPUS=4
GIS_DB=gis
GIS_USER=nobody

# Options for osm_setup_db.sh script only
#EXTERNAL_DATA_EXTRA_OPTIONS='--verbose'
#PBF_DOWNLOAD_BASE_URL='http://localhost/download'
#PBF_FILENAME=europe/monaco-latest.osm.pbf
