[renderd]
num_threads=16
tile_dir=@PREFIX@/var/lib/mod_tile
stats_file=@PREFIX@/var/run/renderd/renderd.stats
socketname=@PREFIX@/var/run/renderd/renderd.sock

[mapnik]
plugins_dir=@PREFIX@/lib/mapnik/input
font_dir=@PREFIX@/lib/mapnik/fonts
font_dir_recurse=1

[ajt]
URI=/tile/
TILEDIR=@PREFIX@/var/lib/mod_tile
XML=@PREFIX@/etc/openstreetmap-carto/mapnik.xml
HOST=localhost
TILESIZE=256
MAXZOOM=20
