# Mini vMac Custom Variations Configuration File
#
# Documentation:
#
# https://github.com/macports/macports-ports/blob/master/emulators/minivmac/files/README-custom.md
#
# Available options:
#
# http://www.gryphel.org/c/minivmac/options.html#in
#
# Example:
#
# [1440x900 FS]
# options = -hres 1440 -vres 900 -fullscreen 1 -var-fullscreen 0 \
#           -mf 1 -gkf 0 -emm 0
# [II 720x450]
# options = -m II -hres 720 -vres 450 -gkf 0 -emm 0
