--- /tmp/Tgif.tmpl	Wed Jan 15 14:54:28 2003
+++ Tgif.tmpl	Wed Jan 15 14:55:17 2003
@@ -39,9 +39,10 @@
 XCOMM CDEBUGFLAGS= -g -Wall
 XCOMM INSTPGMFLAGS= -s
-XCOMM BINDIR	= /u/halfmoon/bin
-XCOMM MANPATH	= /u/halfmoon/man
-XCOMM TGIFDIR	= /u/halfmoon/lib/X11/tgif
+BINDIR	= PREFIX/bin
+MANPATH	= PREFIX/share/man
+DOCDIR	= PREFIX/lib/X11/doc
+TGIFDIR	= PREFIX/lib/X11/tgif
 XCOMM MOREDEFINES	= -D_HAS_STREAMS_SUPPORT -DENABLE_NLS -D_TGIF_DBG
-LOCALEDIR	= /usr/share/locale
+LOCALEDIR	= PREFIX/share/locale
 DIRDEFINES	= -DTGIF_PATH=\"$(TGIFDIR)\" -DPSFILE_MOD=0664 \@@\
                   -DLOCALEDIR=\"$(LOCALEDIR)\" \@@\
@@ -65,5 +65,5 @@
 LOCAL_LIBRARIES	= $(XLIB)
 XCOMM LOCAL_LIBRARIES	= $(XMULIB) $(XTOOLLIB) $(XLIB)
-SYS_LIBRARIES	= -ldl -lm
+SYS_LIBRARIES	= -lm
 XCOMM SYS_LIBRARIES	= -lm
 
