--- Tgif.tmpl.orig	2014-09-28 22:01:20.000000000 -0700
+++ Tgif.tmpl	2014-09-28 22:03:01.000000000 -0700
@@ -38,11 +38,12 @@ PROGRAMS	= tgif XCOMM prtgif frontend11.
 TGIFDIR		= $(LIBDIR)/tgif
 XCOMM CDEBUGFLAGS= -g -Wall
 XCOMM INSTPGMFLAGS= -s
-XCOMM BINDIR	= ${HOME}/bin
-XCOMM MANPATH	= ${HOME}/man
-XCOMM TGIFDIR	= ${HOME}/lib/X11/tgif
+BINDIR		= PREFIX/bin
+MANPATH		= PREFIX/share/man
+DOCDIR		= PREFIX/lib/X11/doc
+TGIFDIR		= PREFIX/lib/X11/tgif
 XCOMM MOREDEFINES	= -D_HAS_STREAMS_SUPPORT -DENABLE_NLS -D_TGIF_DBG
-LOCALEDIR	= /usr/share/locale
+LOCALEDIR	= PREFIX/share/locale
 DIRDEFINES	= -DTGIF_PATH=\"$(TGIFDIR)\" -DPSFILE_MOD=0664 \@@\
                   -DLOCALEDIR=\"$(LOCALEDIR)\" \@@\
                   -DTELEPORT_ATTR=\"warp_to=\" -DTMP_DIR=\"/tmp/\" \@@\
@@ -62,7 +63,7 @@ XCOMM ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 DEPLIBS		= $(DEPXLIB) $(DEPXTOOLLIB) $(DEPXMULIB)
 LOCAL_LIBRARIES	= $(XLIB) $(XTOOLLIB) $(XMULIB)
 XCOMM LOCAL_LIBRARIES	= $(XMULIB) $(XTOOLLIB) $(XLIB)
-SYS_LIBRARIES	= -ldl -lm -lz -lpthread -lidn
+SYS_LIBRARIES	= -lz
 XCOMM SYS_LIBRARIES	= -lm -lz
 
 XCOMM ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^	XCOMM
