--- lib/ssl/c_src/Makefile.dist.orig	2008-03-12 22:24:42.000000000 -0700
+++ lib/ssl/c_src/Makefile.dist	2008-03-12 22:24:21.000000000 -0700
@@ -11,4 +11,4 @@
 
 $(BINDIR)/ssl_esock: $(OBJS)
 	$(CC) -L$(SSL_LIBDIR) -Wl,-R$(SSL_LIBDIR) -o $@ $^ \
-		$(LIBS) -lssl -lcrypto
+		$(LIBS) -lssl -lcrypto -lz
