--- mod_speedycgi/Makefile.tmpl.org	2003-10-06 21:03:48.000000000 -0700
+++ mod_speedycgi/Makefile.tmpl	2007-01-24 17:43:32.000000000 -0800
@@ -24,11 +24,11 @@
 ##
 
 #   the used tools
-APXS=apxs
-APACHECTL=apachectl
+APXS=__PREFIX__/apache2/bin/apxs
+APACHECTL=__PREFIX__/apache2/bin/apachectl
 
 #   additional defines, includes and libraries
-INC=-I../src -I.
+INC=-I../src -I. -I__PREFIX__/include -I__PREFIX__/apache2/include -I__PREFIX__/include/apr-1
 
 #   compile the shared object file
 $(SHARED_OBJ_TARGET): $(SRC_CFILES) $(H_FILES) ../src/*.h $(MOD_SPEEDYCGI_CMDS)
