--- bin/smokeping.dist.org.dist	2006-07-14 04:17:59.000000000 -0700
+++ bin/smokeping.dist	2007-01-27 12:31:41.000000000 -0800
@@ -1,12 +1,12 @@
-#!/usr/sepp/bin/perl-5.8.4 -w
+#!__PREFIX__/bin/perl -w
 # -*-perl-*-
 
-use lib qw(/usr/pack/rrdtool-1.0.49-to/lib/perl);
-use lib qw(lib);
+use lib qw(__PREFIX__/lib/perl5/site_perl/5.8.8/darwin-2level/auto/RRDs);
+use lib qw(__PREFIX__/lib/smokeping);
 
 use Smokeping 2.000009;
  
-Smokeping::main("etc/config.dist");
+Smokeping::main("__PREFIX__/etc/smokeping/config");
 
 =head1 NAME
 
@@ -112,22 +112,7 @@
 
 =head1 SETUP
 
-When installing SmokePing, this file has to be adjusted to fit your
-local system. Three paths have to be entered.
-
-One pointing to your B<rrdtool> installation
-
- use lib qw(/usr/pack/rrdtool-1.0.33-to/lib/perl);
-
-One pointing to the place where you have installed the SmokePing libraries
-
- use lib qw(/home/oetiker/public_html/smokeping/lib);
-
-The third path is the argument to the Smokeping::main command. It points to
-the SmokePing configuration file.
-
- use Smokeping;
- Smokeping::main("/home/oetiker/.smokeping/config");
+Paths for this file are set by MacPorts for the local system so they do not need to be modified.
 
 =head1 COPYRIGHT
 
