[PostgreSQL-test]
Description			= PostgreSQL test database
Driver				= PostgreSQL
Trace				= Yes
TraceFile			= sql.log
Database			= test
Servername			= localhost
UserName			=
Password			=
Port				= 5432
Protocol			= 6.4
ReadOnly			= No
RowVersioning		= No
ShowSystemTables	= No
ShowOidColumn		= No
FakeOidIndex		= No
ConnSettings		=
