# Normalize EOLs by default, to avoid falling back on committers'
# "core.autocrlf" settings.
* text=auto

# Don't normalize EOLs of files derived from an upstream.
*.diff -text
*.patch -text
net/nagios-plugins/files/check_nt.c -text
