<aaron@madlon-kay.com> <aaron+github@madlon-kay.com>
<adfernandes@macports.org> <andrew@fernandes.org>
Alexander Gaenko <galexv@umich.edu>
Aljaž Srebrnič <g5pw@macports.org>
<and.damore@macports.org> <anddam@brapi.net>
<aronnax@macports.org> <leo.singer@ligo.org>
Christoph Iserlohn <ciserlohn@macports.org>
Dan R. K. Ports <dports@macports.org>
<davidnichols@macports.org> <david@qore.org>
<dstrubbe@macports.org> <dstrubbe@mit.edu>
<ionic@macports.org> <ionic@ionic.de>
James Berry <jberry@macports.org>
<jkh@macports.org> <jkh@apple.com>
<jonesc@macports.org> <jonesc@hep.phy.cam.ac.uk>
Ken Cunningham <ken.cunningham.webuse@gmail.com>
<leonardo@schenkel.net> <leo@tradeshift.com>
Mark Evenson <easieste@macports.org> Mark <evenson.not.org@gmail.com>
<mk@macports.org> <mk-lists@mailbox.org>
<mps@macports.org> <Schamschula@users.noreply.github.com>
<pixilla@macports.org> <brad@databoost.com>
<ram@macports.org> <ramercer@gmail.com>
René J. V. Bertin <rjvbertin@gmail.com>
<ricci@macports.org> <eric+git@darkart.com>
<stromnov@macports.org> <stromnov@gmail.com>
<takeshi@macports.org> <takeshi.enomoto@gmail.com>
<takeshi@macports.org> <takeshi@maport.org>
Toby Peterson <toby@macports.org> <toby@apple.com>
Wataru Kimura <kimuraw@macports.org> <kimuraw@i.nifty.jp>
