language: c
matrix:
  allow_failures:
  - os: osx
    osx_image: xcode10.1
  include:
  - os: osx
    osx_image: xcode10.1
  - os: osx
    osx_image: xcode9.4
  - os: osx
    osx_image: xcode8.3
  - os: osx
    osx_image: xcode7.3
env:
- COLUMNS=78
before_install:
- source ./_ci/bootstrap.sh
script:
- sudo ./runner
notifications:
  webhooks: https://infra.macports.org/pr-bot/travis
