language: c
matrix:
  allow_failures:
  - os: osx
    osx_image: xcode10.1
  - os: osx
    osx_image: xcode6.4
  include:
  - os: osx
    osx_image: xcode10.1
  - os: osx
    osx_image: xcode9.4
  - os: osx
    osx_image: xcode8.3
  - os: osx
    osx_image: xcode7.3
  - os: osx
    osx_image: xcode6.4
env:
- COLUMNS=78
before_install:
- ./_ci/bootstrap.sh
- unset CC && source /opt/local/share/macports/setupenv.bash
- export PATH="/opt/mports/bin:${PWD}/../mpbb:$PATH" && hash -r
script:
- sudo ./runner
notifications:
  webhooks: https://infra.macports.org/pr-bot/travis
