<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>aseprite</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>Document.icns</string>
            <key>CFBundleTypeName</key>
            <string>Aseprite Sprite</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>ase</string>
                <string>bmp</string>
                <string>flc</string>
                <string>fli</string>
                <string>gif</string>
                <string>ico</string>
                <string>jpeg</string>
                <string>jpg</string>
                <string>pcx</string>
                <string>png</string>
                <string>tga</string>
                <string>webp</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>Document.icns</string>
            <key>CFBundleTypeName</key>
            <string>Aseprite Sprite</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>aseprite-extension</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>Extension.icns</string>
            <key>CFBundleTypeName</key>
            <string>Aseprite Extension</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
    </array>
</dict>
</plist>
