<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd" >
<plist version='1.0'>
    <dict>
        <key>Label</key>
        <string>@LABEL@</string>

        <key>ProgramArguments</key>
        <array>
            <string>@PREFIX@/libexec/certsync</string>
            <string>-o</string>
            <string>@PREFIX@/etc/openssl/cert.pem</string>
        </array>

        <key>Disabled</key>
        <true/>

        <key>WatchPaths</key>
        <array>
            <string>/System/Library/Keychains</string>
            <string>/Library/Keychains</string>
            <string>/Library/Security/Trust Settings</string>
        </array>
    </dict>
</plist>
