<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC -//Apple Computer//DTD PLIST 1.0//EN
http://www.apple.com/DTDs/PropertyList-1.0.dtd >
<plist version='1.0'>
<dict>

<key>Label</key><string>org.macports.snmptrapd</string>
<key>ProgramArguments</key>
<array>
	<string>/usr/sbin/snmptrapd</string>
</array>

<key>Debug</key><false/>
<key>Disabled</key><false/>
<key>OnDemand</key><false/>
<key>RunAtLoad</key><false/>


<key>inetdCompatibility</key>
        <dict>
                <key>Wait</key>
                <false/>
        </dict>
	<key>InitGroups</key>
        <true/>
	<key>Sockets</key>
        <dict>
                <key>Listeners</key>
                <dict>
                        <key>SockServiceName</key>
                        <string>snmptrap</string>
                </dict>
        </dict>


</dict>
</plist>
