<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUIElement</key>
	<string>1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Octave</string>
	<key>CFBundleIconFile</key>
	<string>Octave.icns</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeOSTypes</key>
			<string>Mfile</string>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>org.octave.Octave</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleSignature</key>
	<string>Octave</string>
	<key>CFBundleVersion</key>
	<string>@@VERSION@@</string>
	<key>CFBundleShortVersion</key>
	<string>@@VERSION@@</string>
</dict>
</plist>
