<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC '-//Apple Computer//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
<dict>
  <key>Label</key>
  <string>org.macports.logwatch</string>
  <key>LowPriorityIO</key>
  <true/>
  <key>Nice</key>
  <integer>1</integer>
  <key>ProgramArguments</key>
  <array>
    <string>@PREFIX@/bin/logwatch</string>
	<string>--mailto</string>
	<string>root</string>
  </array>
  <key>ServiceDescription</key>
  <string>Periodic run of logwatch</string>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>1</integer>
    <key>Minute</key>
    <integer>12</integer>
  </dict>
</dict>
</plist>
