<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd" >
<plist version='1.0'>
    <dict>
        <key>Label</key>
        <string>org.macports.@NAME@</string>
        <key>ProgramArguments</key>
        <array>
            <string>@PREFIX@/bin/daemondo</string>
            <string>--label=sketchybar</string>
            <string>--start-cmd</string>
            <string>@PREFIX@/bin/sketchybar</string>
            <string>;</string>
            <string>--pid=exec</string>
        </array>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>@PREFIX@/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        </dict>
        <key>KeepAlive</key><true/>
        <key>RunAtLoad</key><true/>
        <key>ProcessType</key><string>Interactive</string>
        <key>Nice</key><integer>-20</integer>
    </dict>
</plist>
