<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <!-- See https://github.com/apple/ccs-calendarserver/blob/master/twistedcaldav/stdconfig.py -->

    <!--
        Public network address information

        This is the server's public network address, which is provided to
        clients in URLs and the like.  It may or may not be the network
        address that the server is listening to directly, though it is by
        default.  For example, it may be the address of a load balancer or
        proxy which forwards connections to the server.
      -->

    <!-- Network host name [empty = system host name] -->
    <key>ServerHostName</key>
    <string>@host@.@domain@.@tld@</string> <!-- The hostname clients use when connecting -->

    <!-- Enable Calendars -->
    <key>EnableCalDAV</key>
    <true/>

    <!-- Enable AddressBooks -->
    <key>EnableCardDAV</key>
    <true/>

    <!-- Socket Files -->
    <key>SocketFiles</key>
    <dict>
        <key>Enabled</key>
        <true/>
        <key>Owner</key>
        <string>@CALENDARSERVERUSER@</string>
        <key>Group</key>
        <string>_calendar</string>
    </dict>
    <key>SocketRoot</key>
    <string>@CALENDARSERVERDIR@/Library/CalendarServer/run/caldavd_requests</string>

    <!-- HTTP port [0 = disable HTTP] -->
    <key>HTTPPort</key>
    <integer>8008</integer>

    <!-- SSL port the front end proxy is listening on -->
    <key>SSLPort</key>
    <integer>8443</integer>

    <!-- Disable listening on SSL port(s), the proxy will handle it -->
    <!-- This is set on macOS Server v5.7 -->
    <!--
    <key>EnableSSL</key>
    <true/>
      -->

    <!-- We're behind a proxy -->
    <key>BehindTLSProxy</key>
    <true/>

    <!-- Redirect non-SSL ports to an SSL port (if configured for SSL) -->
    <!--
    <key>RedirectHTTPToHTTPS</key>
    <true/>
      -->

    <!--
    Network address configuration information

    This configures the actual network address that the server binds to.
    -->

    <!-- List of IP addresses to bind to [empty = all] -->
    <key>BindAddresses</key>
    <array>
    </array>

    <!-- List of port numbers to bind to for HTTP [empty = same as "Port"] -->
    <key>BindHTTPPorts</key>
    <array>
        <!--
        <integer>8008</integer>
        <integer>8800</integer>
          -->
    </array>

    <!-- List of port numbers to bind to for SSL [empty = same as "SSLPort"] -->
    <key>BindSSLPorts</key>
    <array>
        <!--
        <integer>8443</integer>
        <integer>8843</integer>
          -->
    </array>

    <!--
    Data Store
      -->

    <!-- Server root -->
    <key>ServerRoot</key>
    <string>@CALENDARSERVERDIR@/Library/CalendarServer</string>

    <!-- Database connection:
         Possible values: empty, meaning 'spawn postgres yourself', or
         'postgres' or 'oracle', meaning 'connect to a postgres or Oracle
         database as specified by the 'DSN' configuration key.
         Reference:
             https://github.com/apple/ccs-calendarserver/blob/master/twistedcaldav/stdconfig.py
             https://github.com/apple/ccs-calendarserver/blob/master/doc/Admin/MultiServerDeployment.rst#database-connectivity -->
    <key>DBType</key>
    <string></string>
    <!-- Use this if
         @CALENDARSERVERDIR@/Library/CalendarServer/Config/LaunchDaemons/org.calendarserver.postgres96.plist
         is used
    <string>postgres</string>
      -->

    <!-- No features - when macOS supports postgres 9.5 and up change
 this to include 'skip-locked'. -->
    <key>DBFeatures</key>
    <array>
        <string>skip-locked</string>
    </array>

    <!-- Launch PostgreSQL Server -->
    <key>Postgres</key>
    <dict>
        <key>Ctl</key>
        <string>@PREFIX@/lib/postgresql@POSTGRESQL9_VERSION@/bin/pg_ctl</string>
        <key>Options</key>
        <array>
            <!-- <string>-c log_statement=all</string> -->
            <string>-c log_lock_waits=TRUE</string>
            <string>-c deadlock_timeout=10</string>
            <string>-c log_line_prefix='%m [%p] '</string>
        </array>
        <key>ExtraConnections</key>
        <integer>20</integer>
        <key>ClusterName</key>
        <string>cluster.pg</string>
        <key>LogFile</key>
        <string>pg_ctl.log</string>
        <key>SocketDirectory</key>
        <string>@CALENDARSERVERDIR@/Library/CalendarServer/run/caldavd/PostgresSocket</string>
        <key>SocketName</key>
        <string></string>
        <key>LogRotation</key>
        <true/>
        <!-- If the DBType is '', and we're spawning postgres ourselves,
             where is the initdb tool to create its database cluster with? -->
        <key>Init</key>
        <string>@PREFIX@/lib/postgresql@POSTGRESQL9_VERSION@/bin/initdb</string>
    </dict>

    <!-- Data root -->
    <key>DataRoot</key>
    <string>Data</string>

    <!-- Database root -->
    <key>DatabaseRoot</key>
    <string>Database</string>

    <!-- Document root -->
    <key>DocumentRoot</key>
    <string>Documents</string>

    <!-- Configuration root -->
    <key>ConfigRoot</key>
    <string>Config</string>

    <!-- Run root -->
    <key>RunRoot</key>
    <string>@CALENDARSERVERDIR@/Library/CalendarServer/run/caldavd</string>

    <!-- Don't exit if the DB needs an upgrade. -->
    <key>FailIfUpgradeNeeded</key>
    <false/>

    <!-- Child aliases -->
    <key>Aliases</key>
    <array>
      <!--
      <dict>
          <key>url</key>
          <string>/foo</string>
          <key>path</key>
          <string>/path/to/foo</string>
      </dict>
        -->
    </array>

    <!--
        Quotas and limits
      -->

    <!-- User quota (in bytes) [0 = no quota] applies to attachments only -->
    <key>UserQuota</key>
    <integer>104857600</integer> <!-- 100Mb -->

    <!-- Maximum size for a single attachment (in bytes) [0 = no limit] -->
    <key>MaximumAttachmentSize</key>
    <integer>10485760</integer> <!-- 10Mb -->

    <!-- Maximum number of calendars/address books allowed in a home -->
    <!-- 0 for no limit -->
    <key>MaxCollectionsPerHome</key>
    <integer>50</integer>

    <!-- Maximum number of resources in a calendar/address book -->
    <!-- 0 for no limit -->
    <key>MaxResourcesPerCollection</key>
    <integer>10000</integer>

    <!-- Maximum resource size (in bytes) -->
    <key>MaxResourceSize</key>
    <integer>1048576</integer> <!-- 1Mb -->

    <!-- Maximum number of unique attendees per entire event -->
    <!-- 0 for no limit -->
    <key>MaxAttendeesPerInstance</key>
    <integer>100</integer>

    <!-- Maximum number of instances allowed during expansion -->
    <!-- 0 for no limit -->
    <key>MaxAllowedInstances</key>
    <integer>3000</integer>


    <!--
        Directory service

        A directory service provides information about principals (eg.
        users, groups, locations and resources) to the server.

        A variety of directory services are available for use.
      -->

    <!-- https://www.calendarserver.org/QuickStart.html:
	 XML, LDAP, OpenDirectory -->
    
    <!-- XML File Directory Service -->
    <key>DirectoryService</key>
    <dict>
      <key>type</key>
      <string>xml</string>
        
      <key>params</key> 
      <dict>
        <key>xmlFile</key>
        <string>@PREFIX@/var/calendarserver/Library/CalendarServer/auth/accounts.xml</string>
      </dict>
    </dict>

    <!-- Open Directory Service (Mac OS X) -->
    <!--
    <key>DirectoryService</key>
    <dict>
        <key>type</key>
        <string>opendirectory</string>

        <key>params</key>
        <dict>
            <key>node</key>
            <string>/Search</string>
            <key>recordTypes</key>
            <array>
                <string>users</string>
                <string>groups</string>
            </array>
        </dict>
    </dict>
    -->

    <!-- XML File Augment Service -->
    <key>AugmentService</key>
    <dict>
      <key>type</key>
      <string>xml</string>

      <key>params</key>
      <dict>
        <key>xmlFiles</key>
        <array>
          <string>augments.xml</string>
        </array>
      </dict>
    </dict>

    <key>DirectoryFilterStartsWith</key>
    <true/>

    <key>DirectoryProxy</key>
    <dict>
      <key>Enabled</key>
      <true/>
    </dict>

    <!--
        Special principals

        These principals are granted special access and/or perform
        special roles on the server.
      -->

    <!-- Principals with "DAV:all" access (relative URLs) -->
    <key>AdminPrincipals</key>
    <array>
      <!-- <string>/principals/__uids__/AEB68DD7-D2B8-4D4D-A574-2A4533DF36A4/</string> -->
    </array>

    <!-- Principals with "DAV:read" access (relative URLs) -->
    <key>ReadPrincipals</key>
    <array>
        <!-- <string>/principals/__uids__/983C8238-FB6B-4D92-9242-89C0A39E5F81/</string> -->
    </array>

    <!-- Create "proxy access" principals -->
    <key>EnableProxyPrincipals</key>
    <true/>


    <!--
        Permissions
      -->

    <!-- Anonymous read access for root resource -->
    <key>EnableAnonymousReadRoot</key>
    <false/>

    <!-- Anonymous read access for resource hierarchy -->
    <key>EnableAnonymousReadNav</key>
    <false/>

    <!-- Enables directory listings for principals -->
    <key>EnablePrincipalListings</key>
    <false/>

    <!-- Render calendar collections as a monolithic iCalendar object -->
    <key>EnableMonolithicCalendars</key>
    <true/>


    <!--
        Authentication
      -->

    <key>Authentication</key>
    <dict>

        <!-- Clear text; best avoided -->
        <key>Basic</key>
        <dict>
            <key>Enabled</key>
            <true/>
            <key>AllowedOverWireUnencrypted</key> <!-- advertised over non SSL? -->

            <false/>
        </dict>

        <!-- Digest challenge/response -->
        <key>Digest</key>
        <dict>
            <key>Enabled</key>
            <true/>
            <key>AllowedOverWireUnencrypted</key> <!-- advertised over non SSL? -->

            <true/>    
            <key>Algorithm</key>
            <string>md5</string>
            <key>Qop</key>
            <string></string>
        </dict>

        <!-- Kerberos/SPNEGO -->
        <key>Kerberos</key>
        <dict>
            <key>Enabled</key>
            <true/>
            <key>AllowedOverWireUnencrypted</key>
            <true/>
            <key>ServicePrincipal</key>
            <string></string>
        </dict>

        <!-- Wikiserver authentication (Mac OS X) -->
        <!--
        <key>Wiki</key>
        <dict>
            <key>Enabled</key>
            <true/>
        </dict>
          -->

    </dict>


    <!--
        Logging
      -->

    <!-- Log root -->
    <key>LogRoot</key>
    <string>logs</string>

    <!-- Apache-style access log -->
    <key>AccessLogFile</key>
    <string>access.log</string>
    <key>RotateAccessLog</key>
    <true/>

    <!-- Server activity log -->
    <key>ErrorLogFile</key>
    <string>error.log</string>

    <!-- Log levels -->
    <key>DefaultLogLevel</key>
    <string>info</string> <!-- debug, info, warn, error -->

    <!-- Server process ID file -->
    <key>PIDFile</key>
    <string>caldavd.pid</string>


    <!--
        SSL/TLS
      -->

    <!-- Keychain identity to use instead of cert files -->
    <key>SSLKeychainIdentity</key>
    <string>@host@.@domain@.@tld@</string>


    <!--
        Process management
      -->

    <!--
    <key>UserName</key>
    <string>calendarservice</string>

    <key>GroupName</key>
    <string>_calendar</string>
      -->

    <key>ProcessType</key>
    <string>Combined</string>

    <key>MultiProcess</key>
    <dict>
        <key>ProcessCount</key>
        <integer>0</integer> <!-- 0 = automatic -->
    </dict>

    <!--
        Notifications
      -->

    <!--
    <key>Notifications</key>
    <dict>
        <key>Services</key>
        <dict>
            <key>APNS</key>
            <dict>
                <key>Enabled</key>
                <true/>
            </dict>
        </dict>
    </dict>
     -->

    <!--
        Server-to-server protocol
      -->

    <key>Scheduling</key>
    <dict>
        <!-- CalDAV protocol options -->
        <key>CalDAV</key>
        <dict>
            <key>EmailDomain</key>
            <string>@domain@.@tld@</string>
            <key>HTTPDomain</key>
            <string>@domain@.@tld@</string>
            <!-- Regex patterns to match local calendar user addresses -->
            <key>AddressPatterns</key>
            <array>
                <string>mailto:.*@@domain@.@tld@</string>
            </array>
        </dict>

        <key>iMIP</key>
        <dict>
            <key>Enabled</key>
            <true/>
            <key>Receiving</key>
            <dict>
                <key>Port</key>
                <integer>993</integer>
                <key>Server</key>
                <string>@host@.@domain@.@tld@</string>
                <key>Type</key>
                <string>imap</string>
                <key>UseSSL</key>
                <true/>
                <key>Username</key>
                <string>@CALENDARSERVERUSER@</string>
            </dict>
            <key>Sending</key>
            <dict>
                <key>Address</key>
                <string>@CALENDARSERVERUSER@@@domain@.@tld@</string> <!-- Address email will be sent from -->
                <key>Port</key>
                <integer>587</integer>
                <key>Server</key>
                <string>@host@.@domain@.@tld@</string>
                <key>UseSSL</key>
                <true/>
                <key>Username</key>
                <string>@CALENDARSERVERUSER@</string>
            </dict>
            <!-- Regex patterns to match iMIP-able calendar user addresses -->
            <key>AddressPatterns</key>
            <array>
                <string>mailto:.*</string>
            </array>
        </dict>
    </dict>

    <!--
        Free-busy URL protocol
      -->

    <key>FreeBusyURL</key>
    <dict>
        <key>Enabled</key>
        <true/>
        <key>TimePeriod</key>
        <integer>14</integer>
        <key>AnonymousAccess</key>
        <false/>
    </dict>

    <!--
        Non-standard CalDAV extensions
      -->

    <!-- Calendar Drop Box -->
    <key>EnableDropBox</key>
    <false/>

    <!-- Calendar Managed Attachments -->
    <key>EnableManagedAttachments</key>
    <true/>

    <!-- Private Events -->
    <key>EnablePrivateEvents</key>
    <true/>

    <!-- Timezone Service -->
    <key>EnableTimezoneService</key>
    <true/>

    <!-- Standard Timezone Service -->
    <key>TimezoneService</key>
    <dict>
    	<key>Enabled</key>
    	<false/>
    </dict>

    <!-- Shared Calendars & Address Books -->
    <key>Sharing</key>
    <dict>
        <key>Enabled</key>
        <true/>
    </dict>

    <!--
        Miscellaneous items
      -->

    <!-- Service ACLs (Mac OS X)
         If enabled, will honor macOS Server ACLs to control access -->
    <key>EnableSACLs</key>
    <false/>

    <!-- Web-based administration -->
    <key>EnableWebAdmin</key>
    <true/>

    <!-- On OS X use wiki authentication dialogs for webcal -->
    <key>WebCalendarAuthPath</key>
    <string>/auth</string>

    <!-- Directory searching -->
    <key>DirectoryAddressBook</key>
    <dict>
        <key>Enabled</key>
        <true/>
        <key>type</key>
        <string>opendirectory</string>
        <key>params</key>
        <dict>
            <key>queryUserRecords</key>
            <false/>
            <key>queryPeopleRecords</key>
            <false/>
        </dict>
    </dict>

    <key>EnableSearchAddressBook</key>
    <true/>

    <!-- Automatic purging of data for principals no longer in the directory
      -->
    <key>AutomaticPurging</key>
    <dict>
        <key>Enabled</key>
        <true/>
    </dict>

    <!-- Alert-posting program
      -->
    <!--
    <key>AlertPostingProgram</key>
    <string>/Applications/Server.app/Contents/ServerRoot/Library/CalendarServer/Setup/CalendarServerAlert</string>
      -->

    <!-- Includes of other plists
      -->
    <!--
    <key>Includes</key>
    <array>
        <string>/Library/Server/Preferences/Calendar.plist</string>
        <string>caldavd-system.plist</string>
        <string>caldavd-user.plist</string>
    </array>
    <key>WritableConfigFile</key>
    <string>caldavd-system.plist</string>
      -->

  </dict>
</plist>
