<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.sourceforge.smartmontools.smartd</string>
	<key>ProgramArguments</key>
	<array>
		<string>__PREFIX__/sbin/smartd</string>
		<string>-n</string>
	</array>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
