[Desktop Entry]
Encoding=UTF-8
Name=Firefox Web Browser
Comment=Browse the World Wide Web
Exec=firefox
Icon=firefox.xpm
Terminal=false
Type=Application
Categories=Application;Network
StartupNotify=true
