<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.macports.ssh-askpass-mac</string>

	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-c</string>
		<string>
		launchctl setenv SSH_ASKPASS @APPLICATIONS_DIR@/ssh-askpass.app/Contents/MacOS/ssh-askpass
		launchctl setenv SSH_ASKPASS_REQUIRE force
		[[ -z "${DISPLAY+set}" ]] && launchctl setenv DISPLAY invalid # required by OpenSSH lower than 8.3
		launchctl stop com.openssh.ssh-agent
		</string>
	</array>

	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
