#	rkhunter.conf.local

#	version 1.0.1
#	20160503
#	by Marius Schamschula

#	Tested under OS X 10.9.5

#	Apple installed files
RTKT_FILE_WHITELIST=/etc/sshd_config
RTKT_FILE_WHITELIST=/etc/ssh_host_key

#	Apple installed scripts
SCRIPTWHITELIST=/usr/bin/fuser
SCRIPTWHITELIST=/usr/bin/whatis
SCRIPTWHITELIST=/usr/bin/shasum

#	MacPorts installed scripts
SCRIPTWHITELIST=@PREFIX@/bin/egrep
SCRIPTWHITELIST=@PREFIX@/bin/fgrep
