--- htdocs/smokeping.cgi.dist.org	2008-07-24 10:37:05.000000000 -0700
+++ htdocs/smokeping.cgi.dist	2009-04-23 14:30:24.000000000 -0700
@@ -1,17 +1,17 @@
-#!/usr/bin/speedy
+#!__PREFIX__/bin/speedy
 # -*-perl-*-
 
 use strict;
 use warnings;
 
-use lib qw(/usr/pack/rrdtool-1.3.0-rp/lib/perl);
-use lib qw(/home/oetiker/checkouts/smokeping/trunk/software/lib);
+use lib qw(__PERL5__ARCHLIB__/auto/RRDs);
+use lib qw(__PREFIX__/lib/smokeping);
 
 use CGI::Carp qw(fatalsToBrowser);
 
 use Smokeping 2.004002;
 
-Smokeping::cgi("/home/oetiker/checkouts/smokeping/trunk/software/etc/config.dist");
+Smokeping::cgi("__PREFIX__/etc/smokeping/config");
 
 =head1 NAME
 
@@ -38,23 +38,7 @@
 
 =head1 SETUP
 
-When installing SmokePing, this file has to be adjusted to fit your
-local system. Three paths have to be entered.
-
- use lib qw(/usr/pack/rrdtool-1.0.33-to/lib/perl);
-
-One pointing to your B<rrdtool> installation
-
- use lib qw(/home/oetiker/public_html/smokeping/lib);
-
-One pointing to the place where you have installed the SmokePing libraries
-
- use Smokeping;
-
- Smokeping::cgi("/home/oetiker/.smokeping/config");
-
-The third path is the argument to the Smokeping::cgi command. It points to
-the SmokePing configuration file.
+WARNING!!! Paths for this file are set by MacPorts so they should not be modified.
 
 =head1 COPYRIGHT
 
