--- bin/smokeping.dist.org	2007-11-05 13:59:38.000000000 -0800
+++ bin/smokeping.dist	2007-11-05 16:58:52.000000000 -0800
@@ -1,12 +1,12 @@
-#!/usr/sepp/bin/perl-5.8.4 -w
+#!__PREFIX__/bin/perl -w
 # -*-perl-*-
 
-use lib qw(/usr/pack/rrdtool-1.2.23-mo/lib/perl);
-use lib qw(lib);
+use lib qw(__PERL5__ARCHLIB__/auto/RRDs);
+use lib qw(__PREFIX__/lib/smokeping);
 
 use Smokeping 2.003005;
  
-Smokeping::main("etc/config.dist");
+Smokeping::main("__PREFIX__/etc/smokeping/config");
 
 =head1 NAME
 
@@ -123,22 +123,7 @@
 
 =head1 SETUP
 
-When installing SmokePing, this file has to be adjusted to fit your
-local system. Three paths have to be entered.
-
-One pointing to your B<rrdtool> installation
-
- use lib qw(/usr/pack/rrdtool-1.0.33-to/lib/perl);
-
-One pointing to the place where you have installed the SmokePing libraries
-
- use lib qw(/home/oetiker/public_html/smokeping/lib);
-
-The third path is the argument to the Smokeping::main command. It points to
-the SmokePing configuration file.
-
- use Smokeping;
- Smokeping::main("/home/oetiker/.smokeping/config");
+Paths for this file are set by MacPorts so they do not need to be modified.
 
 =head1 COPYRIGHT
 
