--- bin/smokeping.dist.orig	2008-07-24 10:37:05.000000000 -0700
+++ bin/smokeping.dist	2009-02-03 17:45:16.000000000 -0800
@@ -1,13 +1,13 @@
 #!/usr/bin/perl -w
 # -*-perl-*-
 
-use lib qw(/usr/pack/rrdtool-1.3.0-rp/lib/perl);
-use lib qw(lib);
+use lib qw(__PERL5__ARCHLIB__/auto/RRDs);
+use lib qw(__PREFIX__/lib/smokeping);
 use strict;
 use warnings;
 use Smokeping 2.004002;
  
-Smokeping::main("etc/config.dist");
+Smokeping::main("__PREFIX__/etc/smokeping/config");
 
 =head1 NAME
 
@@ -127,22 +127,7 @@
 
 =head1 SETUP
 
-When installing SmokePing, this file has to be adjusted to fit your
-local system. Three paths have to be entered.
-
-One pointing to your B<rrdtool> installation
-
- use lib qw(/usr/pack/rrdtool-1.0.33-to/lib/perl);
-
-One pointing to the place where you have installed the SmokePing libraries
-
- use lib qw(/home/oetiker/public_html/smokeping/lib);
-
-The third path is the argument to the Smokeping::main command. It points to
-the SmokePing configuration file.
-
- use Smokeping;
- Smokeping::main("/home/oetiker/.smokeping/config");
+WARNING!!!! Paths for this file are set by MacPorts so they should not be modified.
 
 =head1 COPYRIGHT
 
