--- bin/tSmoke.dist.org	2007-04-29 03:42:22.000000000 -0700
+++ bin/tSmoke.dist	2007-04-29 14:56:47.000000000 -0700
@@ -1,4 +1,4 @@
-#!/usr/bin/perl
+#!__PREFIX__/bin/perl
 #
 #-----------------------------------------------
 # tSmoke.pl
@@ -50,8 +50,8 @@
 # -- Getopt::Long
 #
 # Point the lib variables to your implementation
-use lib qw(lib);
-use lib "/usr/local/rrdtool-1.0.39/lib/perl";
+use lib qw(__PREFIX__/lib/smokeping/lib);
+use lib "__PERL5__ARCHLIB__/auto/RRDs";
 
 use Smokeping 2.003001;
 use Net::SMTP;
@@ -60,7 +60,7 @@
 use RRDs;
 
 # Point to your Smokeping config file
-my $cfgfile = "etc/config.dist";
+my $cfgfile = "__PREFIX__/etc/smokeping/config";
 
 # global variables
 my $cfg;
@@ -466,35 +466,7 @@
  # Weekly report on the percent availability of network systems with no detail
  0 8 * * * /usr/local/smokeping/bin/tSmoke.pl --q --to=mailbox@company.com.invalid --weekly --detail=0
 
-=head1 SETUP
-
-When installing tSmoke, some variables must be adjusted to fit your local system.
-
-We need to use the following B<libraries>:
-
-=over
-
-=item Smokeping
-
-=item RRDTool Perl bindings
-
-=item Getopt::Long
-
-=back
-
-Set up your libraries:
-
- use lib "/usr/local/smokeping/lib";
- use lib "/usr/local/rrdtool-1.0.39/lib/perl";
-
-Point to your Smokeping B<config> file
-
- my $cfgfile = "/usr/local/smokeping/etc/config";
-
-Modify the Smokeping config file to include a path for tmail in the
-General section:
-
- tmail = /usr/local/smokeping/etc/tmail
+Paths for this file are set by MacPorts so they do not need to be modified.
 
 =head1 COPYRIGHT
 
