--- htdocs/smokeping.cgi.dist.org	2007-11-05 13:59:38.000000000 -0800
+++ htdocs/smokeping.cgi.dist	2007-11-05 17:52:50.000000000 -0800
@@ -1,13 +1,13 @@
-#!/usr/sepp/bin/speedy -w
+#!__PREFIX__/bin/speedy -w
 # -*-perl-*-
 
-use lib qw(/usr/pack/rrdtool-1.0.33-to/lib/perl);
-use lib qw(/home/oetiker/data/projects/AADJ-smokeping/dist/lib);
+use lib qw(__PERL5__ARCHLIB__/auto/RRDs);
+use lib qw(__PREFIX__/lib/smokeping);
 use CGI::Carp qw(fatalsToBrowser);
 
 use Smokeping 2.003000;
 
-Smokeping::cgi("/home/oetiker/data/projects/AADJ-smokeping/dist/etc/config");
+Smokeping::cgi("__PREFIX__/etc/smokeping/config");
 
 =head1 NAME
 
@@ -34,23 +34,7 @@
 
 =head1 SETUP
 
-When installing SmokePing, this file has to be adjusted to fit your
-local system. Three paths have to be entered.
-
- use lib qw(/usr/pack/rrdtool-1.0.33-to/lib/perl);
-
-One pointing to your B<rrdtool> installation
-
- use lib qw(/home/oetiker/public_html/smokeping/lib);
-
-One pointing to the place where you have installed the SmokePing libraries
-
- use Smokeping;
-
- Smokeping::cgi("/home/oetiker/.smokeping/config");
-
-The third path is the argument to the Smokeping::cgi command. It points to
-the SmokePing configuration file.
+Paths for this file are set by MacPorts so they do not need to be modified.
 
 =head1 COPYRIGHT
 
