--- etc/config.dist.org.dist	2006-03-24 08:51:02.000000000 -0800
+++ etc/config.dist	2007-01-26 23:21:44.000000000 -0800
@@ -7,16 +7,16 @@
 owner    = Joe Random
 contact  = joe@some.place.xyz
 mailhost = smtp.mailhost.abc
-sendmail = /usr/lib/sendmail
-imgcache = /home/oetiker/public_html/.simg
-imgurl   = ../.simg
-datadir  = /home/oetiker/data/projects/AADJ-smokeping/dist/var
-piddir  = /home/oetiker/data/projects/AADJ-smokeping/dist/var
-cgiurl   = http://people.ee.ethz.ch/~oetiker/smokeping/smokeping.cgi
-smokemail = /home/oetiker/data/projects/AADJ-smokeping/dist/etc/smokemail.dist
-tmail = /home/oetiker/data/projects/AADJ-smokeping/dist/etc/tmail.dist
+sendmail = /usr/sbin/sendmail
+imgcache = __PREFIX__/var/smokeping/img
+imgurl   = http://myhost.mycompany.com/smokeping/img
+datadir  = __PREFIX__/var/smokeping
+piddir  = /var/run
+cgiurl   = http://myhost.mycompany.com/smokeping/smokeping.cgi
+smokemail = __PREFIX__/etc/smokeping/smokemail
+tmail = __PREFIX__/etc/smokeping/tmail
 # specify this to get syslog logging
-syslogfacility = local0
+syslogfacility = local1
 # each probe is now run in its own process
 # disable this to revert to the old behaviour
 # concurrentprobes = no
@@ -66,7 +66,7 @@
 
 *** Presentation ***
 
-template = /home/oetiker/data/projects/AADJ-smokeping/dist/etc/basepage.html.dist
+template = __PREFIX__/etc/smokeping/basepage.html
 
 + overview 
 
@@ -89,7 +89,7 @@
 
 + FPing
 
-binary = /usr/sepp/bin/fping
+binary = __PREFIX__/sbin/fping
 
 *** Targets ***
 
