diff -rwub qemu-0.6.1.orig/Makefile.target qemu-0.6.1/Makefile.target
--- Makefile.target	Wed Nov 17 14:28:29 2004
+++ Makefile.target	Wed Nov 17 14:28:40 2004
@@ -180,7 +180,7 @@
 #########################################################
 
 DEFINES+=-D_GNU_SOURCE -D_FILE_OFFSET_BITS=64 -D_LARGEFILE_SOURCE
-LIBS+=-lm
+LIBS+=-lm -lmx
 ifndef CONFIG_USER_ONLY
 LIBS+=-lz
 endif
Only in qemu-0.6.1/tests: arm
Only in qemu-0.6.1/tests: i386
Only in qemu-0.6.1/tests: ppc
Only in qemu-0.6.1/tests: sparc
