<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>@PREFIX@/bin:/usr/local/bin:/sbin:/usr/sbin:/bin:/usr/bin</string>
	</dict>
	<key>Label</key>
	<string>org.macports.buildmaster</string>
	<key>ProgramArguments</key>
	<array>
		<string>@PREFIX@/bin/twistd-2.7</string>
		<string>--nodaemon</string>
		<string>--no_save</string>
		<string>--python=buildbot.tac</string>
		<string>--pidfile=buildmaster.pid</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>UserName</key>
	<string>aUserName</string>
	<key>WorkingDirectory</key>
	<string>/Users/pathToSlave</string>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
</dict>
</plist>
