#define BinDir                  ${prefix}/bin
#define UsrLibDir               ${prefix}/lib
#define ManDirectoryRoot        ${prefix}/man
#define LibexecDir		${prefix}/libexec
#define LdPreLib                -L/usr/X11R6/lib -L${prefix}/lib
#define XpmLibDir               /usr/X11R6/lib
#define XpmIncDir               /usr/X11R6/include
#define ConfigDir               /usr/X11R6/lib/X11/config
#define IncRoot                 ${prefix}/include
#define TopXInclude             -I/usr/X11R6/include
#define DocDir                  ${prefix}/share/doc

#include <Imake.tmpl>
