[Interface]
Address = [IP address]
PrivateKey = [Client's private key]
DNS = [DNS server IP address]

[Peer]
PublicKey = [Server's public key]
PresharedKey = [Pre-shared key, same for server and client]
Endpoint = [Server Addr:Server Port]
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 30
