<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
        <string>org.macports.shared-mime-info-updater</string>
    <key>EnvironmentVariables</key>
    <dict>
           <key>XDG_DATA_DIRS</key>
           <string>@PREFIX@/share</string>
    </dict>
    <key>ProgramArguments</key>
        <array>
            <string>@PREFIX@/bin/update-mime-database-real</string>
            <string>-V</string>
            <string>@PREFIX@/share/mime</string>
        </array>
    <key>RunAtLoad</key>
        <true/>
    <key>WatchPaths</key>
        <array>
            <string>@PREFIX@/share/mime/packages</string>
        </array>
    <key>ThrottleInterval</key>
        <integer>60</integer>
    <key>Disabled</key>
        <false/>
</dict>
</plist>
