<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd" >
<plist version='1.0'>
<dict>
<key>Label</key><string>org.macports.xymon-server</string>
<key>UserName</key>
<string>@XYMONUSER@</string>
<key>ProgramArguments</key>
<array>
	<string>@XYMONLAUNCH@</string>
	<string>--config=@XYMONTASKS@</string>
	<string>--env=@XYMONSERVER@</string>
	<string>--log=@XYMONLAUNCHLOG@</string>
	<string>--pidfile=@XYMONLAUNCHPID@</string>
</array>
<key>Debug</key><false/>
<key>Disabled</key><true/>
<key>RunAtLoad</key><true/>
</dict>
</plist>
