# Use default MacPorts settings
# MacPorts MythTV mods - 
# Disable loading of macports-default.cnf so that
# networking is not disabled
# 2014Oct16
#!include @PREFIX@/etc/mariadb/macports-default.cnf

# The MySQL server
[mysqld]

#  Settings on the command line:
#  /opt/local/bin/daemondo --label=mariadb-server --start-cmd /opt/local/lib/mariadb/bin/mysqld --user=_mysql ; --pid=exec
#  /opt/local/bin/daemondo
#    --label=mariadb-server
#    --start-cmd /opt/local/lib/mariadb/bin/mysqld
#    --user=_mysql ;
#    --pid=exec

log-error=@PREFIX@/var/db/mariadb/localhost.err

[client]
socket=@PREFIX@/var/run/mariadb/mysqld.sock
port=3306

# End MacPorts MythTV mods
