<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Disabled</key><true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>@PREFIX@/var/mythtvuser</string>
        <key>PATH</key>
        <string>@PREFIX@/bin:@PREFIX@/lib/mariadb/bin:@PREFIX@/sbin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/X11/bin</string>
        <key>PYTHONPATH</key>
        <string>@PREFIX@/lib/@PYTHONVER@/site-packages:$PYTHONPATH</string>
    </dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>@PLISTLABEL@</string>
    <key>ProgramArguments</key>
    <array>
        <string>@PREFIX@/bin/mythbackend</string>
        <string>--logpath</string>
        <string>@MYTHTVLOGDIR@</string>
        <string>--pidfile</string>
        <string>@MYTHTVPIDFILE@</string>
        <string>--loglevel</string>
        <string>info</string>
        <string>--quiet</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>300</integer>
</dict>
</plist>
