<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>org.macports.ollama</string>

		<key>ProgramArguments</key>
		<array>
			<string>/opt/local/bin/ollama</string>
			<string>serve</string>
		</array>

		<key>LimitLoadToSessionType</key>
		<array>
			<string>Aqua</string>
			<string>Background</string>
			<string>LoginWindow</string>
			<string>StandardIO</string>
			<string>System</string>
		</array>

		<key>EnvironmentVariables</key>
		<dict>
			<key>HOME</key>
			<string>/Users/reed</string>
		</dict>

		<key>KeepAlive</key>
		<true/>

		<key>ProcessType</key>
		<string>Adaptive</string>

		<key>RunAtLoad</key>
		<true/>

		<key>StandardErrorPath</key>
		<string>/Users/reed/Library/Logs/Ollama.log</string>
		<key>StandardOutPath</key>
		<string>/Users/reed/Library/Logs/Ollama.log</string>
	</dict>
</plist>
