<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>org.lxqt.ssh-agent</string>

        <key>ProgramArguments</key>
        <array>
            <string>/usr/bin/ssh-agent</string>
            <string>-l</string>
        </array>

        <key>EnvironmentVariables</key>
        <dict>
            <key>SSH_ASKPASS</key>
            <string>/opt/local/bin/lxqt-openssh-askpass</string>
            <key>DISPLAY</key>
            <string>0</string>
        </dict>

        <key>Sockets</key>
        <dict>
            <key>Listeners</key>
            <dict>
                <key>SecureSocketWithKey</key>
                <string>SSH_AUTH_SOCK</string>
            </dict>
        </dict>

        <key>EnableTransactions</key>
        <true/>
    </dict>
</plist>

