--- procmail.rc.orig	Sat Feb 21 12:07:06 2004
+++ procmail.rc	Sat Feb 21 12:08:08 2004
@@ -170,7 +170,7 @@
                                      #out and block suspected spam, and to notify
                                      #the sender exactly as for other blocked email.
 
-SBDIR=${HOME}/spambouncer            #Directory where SpamBouncer program files
+SBDIR=%%SBDIR%%                      #Directory where SpamBouncer program files
                                      #are located.  Edit this to point to that
                                      #directory on your system.
 
