<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GroupName</key>
	<string>_clamav</string>
	<key>Label</key>
	<string>org.macports.freshclam</string>
	<key>ProgramArguments</key>
	<array>
		<string>__PREFIX__/bin/freshclam</string>
	</array>
	<key>StartInterval</key>
	<integer>21600</integer>
	<key>UserName</key>
	<string>_clamav</string>
</dict>
</plist>
