--- Factor.app/Contents/Info.plist.orig	2012-08-17 22:05:43.000000000 +0200
+++ Factor.app/Contents/Info.plist	2012-08-17 22:04:07.000000000 +0200
@@ -32,9 +32,9 @@
 	<key>CFBundlePackageType</key>
 	<string>APPL</string>
 	<key>CFBundleVersion</key>
-	<string>0.94</string>
+	<string>0.95</string>
 	<key>NSHumanReadableCopyright</key>
-	<string>Copyright © 2003-2011 Factor developers</string>
+	<string>Copyright © 2003-2012 Factor developers</string>
 	<key>NSServices</key>
 	<array>
 		<dict>
