<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<true/>
	<key>Label</key>
	<string>org.macports.ppp.l2tp</string>
	<key>KeepAlive</key>
	<true/>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>Program</key>
	<string>/usr/sbin/vpnd</string>
	<key>ProgramArguments</key>
	<array>
		<string>vpnd</string>
		<string>-x</string>
		<string>-i</string>
		<string>org.macports.ppp.l2tp</string>
	</array>
	<key>PreventsSleep</key>
	<true/>
	<key>EnableTransactions</key>
	<false/>
	<key>EnablePressuredExit</key>
	<false/>
</dict>
</plist>
