[mpd]
host: localhost
port: 6600
# password: **********

# [daemon]
# sleep_time: 5
# debug: False
# log: @PREFIX@/var/log/lastfm/lastfm.log
# pidfile: @PREFIX@/var/run/lastfm/daemon_name.pid
# spool: @PREFIX@/var/spool/lastfm
