# __PREFIX/etc/anacrontab: configuration file for anacron

# See anacron(8) and anacrontab(5) for details.

SHELL=/bin/sh
PATH=__PREFIX/sbin:__PREFIX/bin:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

#----------------------------
# Tasks defined by scripts in the following directories:
# __PREFIX/etc/cron.{daily,weekly,monthly}
#
# format: period delay job-identifier command
1	5	cron.daily	nice run-parts __PREFIX/etc/cron.daily
7	10	cron.weekly	nice run-parts __PREFIX/etc/cron.weekly
30	15	cron.monthly	nice run-parts __PREFIX/etc/cron.monthly

#----------------------------
# Standard MacOS X cron jobs
#
# (If you would like anacron to be responsible for running these jobs,
# uncomment the lines below and comment out the corresponding lines in
# the system crontab at /etc/crontab)
#
# format: period delay job-identifier command
# 1	5	syscron.daily		nice periodic daily
# 7	10	syscron.weekly		nice periodic weekly
# 30	15	syscron.monthly		nice periodic monthly

#-----------------------------
# Example ancillary cron jobs
#
# format: period delay job-identifier command
# 1	20	locate.updatedb		csh /usr/libexec/locate.updatedb 
# 1	25	makewhatis.local	sh /usr/libexec/makewhatis.local __PREFIX/share/man/

