<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.macports.edbrowse</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-c</string>
		<string>mkdir -p /tmp/.edbrowse &amp;&amp; chmod 1777 /tmp/.edbrowse</string>
	</array>
	<key>Disabled</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
