# vim:ft=conf

[provider_sect]
default = default_sect
pkcs11 = pkcs11_sect

[default_sect]
activate = 1

[pkcs11_sect]
activate = 1

# Some applications may require early loading to work properly however this
# setting should not be enabled by default because it will cause every
# application loading openssl to initialize the token. If needed uncomment the
# following:
#pkcs11-module-load-behavior = early
