<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org.macports.clickhouse-server</string>
	<key>Disabled</key>
	<true/>
	<key>UserName</key>
	<string>clickhouse</string>
	<key>KeepAlive</key>
	<true/>
	<key>MaterializeDatalessFiles</key>
	<true/>
	<key>HardResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>524288</integer>
	</dict>
	<key>SoftResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>524288</integer>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>@@PREFIX@@/bin/clickhouse</string>
		<string>server</string>
		<string>--config-file</string>
		<string>@@PREFIX@@/etc/clickhouse-server/config.xml</string>
	</array>
</dict>
</plist>
