<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.macports.@NAME@</string>
    <key>ProgramArguments</key>
        <array>
            <string>@PREFIX@/bin/@NAME@</string>
            <string>--config.file=@CONFIGFILE@</string>
            <string>--storage.path=@DATADIR@</string>
        </array>
    <key>UserName</key>
    <string>@USER@</string>
    <key>GroupName</key>
    <string>@GROUP@</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>
    <key>WorkingDirectory</key>
    <string>@PREFIX@</string>
    <key>StandardErrorPath</key>
    <string>@LOGFILE@</string>
    <key>StandardOutPath</key>
    <string>@LOGFILE@</string>
    <key>HardResourceLimits</key>
    <dict>
      <key>NumberOfFiles</key>
      <integer>4096</integer>
    </dict>
    <key>SoftResourceLimits</key>
    <dict>
      <key>NumberOfFiles</key>
      <integer>4096</integer>
    </dict>
</dict>
</plist>
