# Sample rsyncd configuration file.
# You must rename it rsyncd.conf to use it.


log file=__PREFIX__/var/log/rsyncd.log
pid file=__PREFIX__/var/run/rsyncd.pid
read only=true
use chroot=yes
list=false

# Specify the modules you want to use here. See "man rsyncd.conf" for more
# information.
