diff -r 0e0f9e28d8e6 Makefile.config
--- Makefile.config	Sat Mar 07 22:18:01 2009 +0100
+++ Makefile.config	Mon Mar 09 09:41:58 2009 +0100
@@ -87,16 +87,17 @@
 GROUP      = munin
 
 # Default user to run the plugins as
-PLUGINUSER = nobody
+#PLUGINUSER = nobody
+PLUGINUSER = munin
 
 # Which command to use to check if the USER and GROUP to run Munin as, exists.
 GETENT = $(shell which getent || which true 2>/dev/null)
-CHECKUSER  = $(shell $(GETENT) passwd $(USER) >/dev/null 2>/dev/null || (echo "echo User $(USER) nonexistant. Create the user and retry; exit 2"))
-CHECKGROUP = $(shell $(GETENT) group $(GROUP) >/dev/null 2>/dev/null || (echo "echo Group $(GROUP) nonexistant. Create the group and retry; exit 2"))
+#CHECKUSER  = $(shell $(GETENT) passwd $(USER) >/dev/null 2>/dev/null || (echo "echo User $(USER) nonexistant. Create the user and retry; exit 2"))
+#CHECKGROUP = $(shell $(GETENT) group $(GROUP) >/dev/null 2>/dev/null || (echo "echo Group $(GROUP) nonexistant. Create the group and retry; exit 2"))
 
 # For OSX, comment out the previous two lines and comment in these 
-#CHECKUSER  = $(shell nicl . -read /users/$(USER) >/dev/null 2>/dev/null || (echo "echo User $(USER) nonexistant. Create the user and retry; exit 2")) 
-#CHECKGROUP = $(shell nicl . -read /groups/$(GROUP) >/dev/null 2>/dev/null || (echo "echo Group $(GROUP) nonexistant. Create the group and retry; exit 2")) 
+CHECKUSER  = $(shell dscl . -read /users/$(USER) >/dev/null 2>/dev/null || (echo "echo User $(USER) nonexistant. Create the user and retry; exit 2")) 
+CHECKGROUP = $(shell dscl . -read /groups/$(GROUP) >/dev/null 2>/dev/null || (echo "echo Group $(GROUP) nonexistant. Create the group and retry; exit 2")) 
 
 CHOWN      = chown
 CHMOD      = chmod
