# /etc/mysql/my.cnf: The global mysql configuration file.

# This file can be simultaneously placed in three places:
# 1. /etc/mysql/my.cnf to set global options.
# 2. /var/lib/mysql/my.cnf to set server-specific options.
# 3. ~/.my.cnf to set user-specific options.
#
# One can use all long options that the program supports.
# Run the program with --help to get a list of them.
#
# The following values assume you have at least 32M RAM!

[client]
#password       = my_password
port            = 3306
socket          = __PREFIX/var/run/mysqld/mysqld.sock

[safe_mysqld]
err-log         = __PREFIX/var/log/mysql/mysql.err
pid-file	= __PREFIX/var/run/mysqld/mysqld.pid
socket		= __PREFIX/var/run/mysqld/mysqld.sock

[mysqld_safe]
err-log         = __PREFIX/var/log/mysql/mysql.err
pid-file        = __PREFIX/var/run/mysqld/mysqld.pid
socket          = __PREFIX/var/run/mysqld/mysqld.sock

[mysqld]
#skip-networking
skip-innodb
user            = mysql
pid-file        = __PREFIX/var/run/mysqld/mysqld.pid
socket          = __PREFIX/var/run/mysqld/mysqld.sock
port            = 3306
log             = __PREFIX/var/log/mysql/mysql.log
basedir         = __PREFIX
datadir         = __PREFIX/var/db/mysql
tmpdir          = /tmp
language        = __PREFIX/share/mysql/english
skip-locking
set-variable    = key_buffer=16M
set-variable    = max_allowed_packet=1M
set-variable    = thread_stack=128K

[mysqldump]
quick
set-variable    = max_allowed_packet=1M

[mysql]
#no-auto-rehash # faster start of mysql but no tab completition

[isamchk]
set-variable    = key_buffer=16 
