<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd" >
<plist version='1.0'>
<dict>
<key>Label</key><string>org.macports.dovecot2</string>
<key>ProgramArguments</key>
<array>
	<string>@PREFIX@/bin/daemondo</string>
	<string>--label=dovecot2</string>
	<string>--start-cmd</string>
	<string>@PREFIX@/sbin/dovecot</string>
	<string>;</string>
	<string>--pid=fileauto</string>
	<string>--pidfile</string>
	<string>@PREFIX@/var/run/dovecot/master.pid</string>
</array>
<key>Disabled</key><true/>
<key>KeepAlive</key><true/>
</dict>
</plist>
