<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	    <key>CFBundleDevelopmentRegion</key>
	    <string>English</string>
	    <key>CFBundleExecutable</key>
	    <string>OmegaT</string>
	    <key>CFBundleIconFile</key>
	    <string>OmegaT.icns</string>
        <key>CFBundleIdentifier</key>
        <string>org.omegat.OmegaT</string>
        <key>CFBundleDisplayName</key>
        <string>OmegaT</string>
	    <key>CFBundleInfoDictionaryVersion</key>
	    <string>6.0</string>
        <key>CFBundleName</key>
        <string>OmegaT</string>
	    <key>CFBundlePackageType</key>
	    <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>@@VERSION@@</string>
        <key>CFBundleVersion</key>
        <string>@@VERSION@@</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>NSHumanReadableCopyright</key>
        <string></string>
        <key>NSHighResolutionCapable</key>
        <true/>
        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true/>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>project</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>OmegaT.icns</string>
                <key>CFBundleTypeName</key>
                <string>OmegaT Project</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
            </dict>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>*</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>All Files</string>
                <key>CFBundleTypeRole</key>
                <string>None</string>
            </dict>
        </array>
    </dict>
</plist>
