[Desktop Entry]
Encoding=UTF-8
Name=Sunbird Calendar
Comment=Check your calendar
Exec=sunbird
Icon=applications-other.png
Terminal=false
Type=Application
Categories=Application;Network
StartupNotify=true
