[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird Mail/News Client
Comment=Check your Mail and News
Exec=thunderbird
Icon=applications-other.png
Terminal=false
Type=Application
Categories=Application;Network
StartupNotify=true
