# Pure-FTPd: auth account password session for PAM
# Copy this file to /etc/pam.d/pure-ftpd
# This file created by MacPorts, but installed by the user
auth       sufficient     pam_opendirectory.so
auth       required       pam_deny.so
account    required       pam_permit.so
password   required       pam_deny.so
session    required       pam_permit.so
